.wp-block-eb-accordion {
	border: 1px dotted #f00;
}

.drag-handle {
	flex: 1;
	background: darkgrey;
	border-right: 1px solid;
	cursor: move;
	color: #ffffff;
	align-items: center;
	display: flex !important;
	justify-content: center;
}
