.eb-accordion-title-wrapper {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.eb-accordion-title {
	display: inline;
}
.eb-accordion-title,
.eb-accordion-content {
	padding: 5px;
}

.eb-accordion-content {
	transition: all 500ms;
}

.eb-accordion-content-wrapper {
	overflow: hidden !important;
}

.eb-accordion-icon-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	min-width: 2em;
	min-height: 2em;
}

// Hide summery arrow
summary::-webkit-details-marker {
	display: none;
}

.eb-accordion-hidden {
	overflow: hidden !important;
	opacity: 0 !important;
}

.eb-accordion-expanded {
	overflow: visible;
	opacity: 1;
}

.eb-accordion-add-button {
	margin: 10px;
	display: flex;
	justify-content: center;
}

.eb-accordion-add-button-label {
	margin-left: 10px;
}

// Sortable styles
.eb-accordion-sortable-item {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid;
	line-height: 2.5em;
}

.drag-helper {
	z-index: 100;
	list-style: none;
}

.drag-handle {
	flex: 1;
	background: darkgrey;
	border-right: 1px solid;
	cursor: move;
	color: #ffffff;
	align-items: center;
	display: flex !important;
	justify-content: center;
}

.eb-accordion-sortable-title {
	flex: 12;
	padding-left: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 200px;
	white-space: nowrap;
}

.eb-accordion-sortable-trash {
	font-size: 16px;
	border-left: 1px solid gray;
	flex: 1;
	text-align: center;
	padding: 8px;
}
.eb-accordion-sortable-trash:hover {
	background: #f44336;
	color: #ffffff;
	cursor: pointer;
}

// Image upload button
.eb-accordion-upload-button {
	height: 100px;
	width: 100%;
	background: #e3e3e3;
	color: #666666;
	display: inline-block;
}

// Typography style
.eb-typography-base div {
	display: flex;
	justify-content: space-between;
}

// making typography component width bigger
.eb-typography-component-panel {
	min-width: 220px;
}
